.paso2 {
  display: flex;
  .paso2Container {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;
      justify-content: center;
      h1 {
        color: rgba(17, 17, 17, 0.75);
        font-size: 20px;
      }

      .left {
        flex: 1;
        flex-direction: column;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.dotComplete2 {
  margin-left: 800px;
  color: rgba(0, 128, 0, 0.75);
}
.dot {
  color: rgba(16, 16, 16, 0.75);
}
.dotProgress2 {
  color: rgba(189, 189, 3, 0.75);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.searcher {
  margin: 15px;
}

.verify {
  margin-left: 15px;
  box-shadow: inset 0px 1px 0px 0px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 3px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.verify:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.verify:active {
  position: relative;
  top: 1px;
}

.link {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.link-position {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
