.paso1 {
  width: 100%;
  display: flex;

  .paso1Container {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: rgba(17, 17, 17, 0.75);
        font-size: 20px;
      }

      .left {
        flex: 1;
        flex-direction: column;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.dotComplete {
  color: rgba(0, 128, 0, 0.75);
}
.dot {
  color: rgba(16, 16, 16, 0.75);
}
.dotProgress {
  margin-left: 800px;
  color: rgba(189, 189, 3, 0.75);
}

.verify-step {
  margin-right: 50px;
}

.container {
  margin-top: 15px;
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
