.processIncrement {
  display: flex;
  margin-right: 40px;
  align-items: center;

  button {
    height: 80px;
    width: 150px;
    background-color: #2bba00;
    cursor: pointer;
    color: white;
  }
  button:hover {
    background-color: #196b00;
  }

  p {
    font-size: 40pt;
  }
}

.processDecrement {
  display: flex;
  margin-right: 40px;
  align-items: center;

  button {
    height: 80px;
    width: 150px;
    background-color: #ff0909;
    cursor: pointer;
    color: white;
  }

  button:hover {
    background-color: #c60000;
  }

  p {
    font-size: 40pt;
  }
}

.processedPiece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;

  p {
    font-size: 40pt;
    width: fit-content;
  }
}

.processDecrement {
  display: flex;

  margin-left: 50px;
}
.incrementOperation {
  display: flex;
  justify-content: center;
  margin-left: 20px;

  .operationPiece {
    display: flex;
    margin-left: 20px;
    align-items: center;
    text-align: center;
  }

  .operationTitle {
    margin-left: 50px;
  }
}

.piecesPut {
  margin-left: 15px;
  box-shadow: inset 0px 1px 0px 0px #9fb4f2;
  background-color: #7892c2;
  border-radius: 3px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  display: none;
}
.piecesPut:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.piecesPut:active {
  position: relative;
  top: 1px;
}
