.machine {
  border: 2px solid black;
  border-radius: 10px;
  padding-right: 5px;
  margin: 20px 0 40px 0;
  width: 600px;

  .machineHeader {
    display: flex;
    flex: content;
    border-radius: 10px 10px 0 0;
    background-color: #14133a;
    color: #ffffff;
    width: 100%;
    padding-left: 5px;
  }

  .verify {
    margin-left: 15px;
    box-shadow: inset 0px 1px 0px 0px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 3px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
  }
  .verify:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
  }
  .verify:active {
    position: relative;
    top: 1px;
  }

  .controls {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-bottom: 10px;
  }
}
.processIncrement {
  display: flex;
  margin-right: 40px;
  align-items: center;

  button {
    height: 80px;
    width: 150px;
    background-color: #2bba00;
    cursor: pointer;
    color: white;
  }
  button:hover {
    background-color: #196b00;
  }

  p {
    font-size: 40pt;
  }
}

.processDecrement {
  display: flex;
  margin-right: 40px;
  align-items: center;

  button {
    height: 80px;
    width: 150px;
    background-color: #ff0909;
    cursor: pointer;
    color: white;
  }

  button:hover {
    background-color: #c60000;
  }

  p {
    font-size: 40pt;
  }
}

.processedPiece {
  display: flex;
  align-items: center;
  margin-left: 250px;

  p {
    font-size: 40pt;
  }
}
.incrementOperation {
  display: flex;
  justify-content: center;
  margin-left: 20px;

  .operationPiece {
    display: flex;
    margin-left: 20px;
    align-items: center;
    text-align: center;
  }
}
