.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .dashboardContainer {
      display: flex;
      flex-direction: column;
    }

    .producedPieces {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    .scrapPieces {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
      width: 150px;
    }

    .charts {
      padding: 5px 20px;
      flex-grow: 100;
    }

    

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}