.machine {
  border: 2px solid black;
  border-radius: 10px;
  padding-right: 5px;
  margin: 20px 0 40px 0;
  width: 600px;

  .machineHeader {
    display: flex;
    flex: content;
    border-radius: 10px 10px 0 0;
    background-color: #14133a;
    color: #ffffff;
    width: 100%;
    padding-left: 5px;
  }

  .verify2 {
    margin-left: 15px;
    box-shadow: inset 0px 1px 0px 0px #9fb4f2;
    background-color: #7892c2;
    border-radius: 3px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
  }
  .verify:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
  }
  .verify:active {
    position: relative;
    top: 1px;
  }

  .controls {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-bottom: 10px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
