.machine {
  border: 2px solid black;
  border-radius: 10px;
  padding-right: 5px;
  margin: 20px 0 40px 0;
  width: 600px;

  .machineHeader {
    display: flex;
    flex: content;
    border-radius: 10px 10px 0 0;
    background-color: #14133a;
    color: #ffffff;
    width: 100%;
    padding-left: 5px;
  }

  .controls {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-bottom: 10px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
